<section class='group flex flex-col items-center justify-center gap-16 py-12'>
	<div class='flex flex-col gap-4 md:gap-8'>
		<h1 class='text-center text-4xl font-black text-zinc-100 md:text-6xl'>Astro Template</h1>
		<p class='text-center font-normal text-pretty text-zinc-50 md:text-xl'>
			Created by Michaell Alavedra
		</p>
	</div>

	<div class='grid grid-cols-2 gap-4 p-4 md:grid-cols-4 md:px-4 lg:grid-cols-6 lg:px-4 xl:px-0'>
		<div
			class='group flex flex-col items-center justify-center space-y-1 rounded-lg border border-zinc-200 px-4 pt-4 pb-2 hover:bg-zinc-200/50 dark:border-zinc-800 dark:hover:bg-zinc-800/50'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				fill='none'
				viewBox='0 0 24 24'
				width='45'
				height='45'>
				<path
					fill='#EA580C'
					fill-rule='evenodd'
					d='M5.522 13.915c-.268.895-.402 1.341-.37 1.766.032.374.154.733.356 1.045.229.351.602.611 1.35 1.13l3.3 2.297c.666.463 1 .696 1.36.786.318.08.65.08.97.003.36-.09.696-.32 1.365-.78l3.336-2.302c.755-.52 1.133-.78 1.365-1.135.204-.313.326-.675.355-1.052.033-.428-.105-.877-.379-1.777l-2.923-9.599c-.141-.466-.212-.699-.348-.872a1.119 1.119 0 00-.45-.343C14.613 3 14.379 3 13.91 3H10.1c-.47 0-.706 0-.905.084-.176.073-.33.192-.45.345-.136.174-.206.408-.345.876l-2.878 9.611zm8.536-8.878c.112.145.17.344.285.736l2.51 8.6a10.147 10.147 0 00-3.001-1.058l-1.633-5.762a.222.222 0 00-.078-.113.207.207 0 00-.253 0 .222.222 0 00-.077.113l-1.614 5.758c-1.05.19-2.067.549-3.014 1.062l2.523-8.601c.114-.394.172-.59.284-.736.1-.128.23-.228.376-.29.167-.07.364-.07.757-.07h1.801c.394 0 .592 0 .759.07a.943.943 0 01.375.291zm-1.945 10.367c.95 0 1.777-.25 2.19-.62a1.961 1.961 0 01-.133 1.467c-.265.511-.65.765-.995.994-.436.288-.81.537-.81 1.202 0 .22.049.43.136.615a1.622 1.622 0 01-.72-.617c-.176-.275-.27-.599-.27-.93v-.041c0-.46 0-1.026-.62-1.026a.634.634 0 00-.466.2.689.689 0 00-.193.486c-.698-.73-.637-1.779-.637-1.779 0-.214.02-.548.112-.84.26.51 1.238.888 2.406.888v.001z'
					clip-rule='evenodd'
				></path>
			</svg>
			<p class='text-center text-sm tracking-tight text-black dark:text-white'>Astro</p>
		</div>

		<div
			class='group flex flex-col items-center justify-center space-y-1 rounded-lg border border-zinc-200 p-4 hover:bg-zinc-200/50 dark:border-zinc-800 dark:hover:bg-zinc-800/50'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				fill='none'
				viewBox='0 0 24 24'
				width='45'
				height='45'>
				<path
					fill='#0EA5E9'
					fill-rule='evenodd'
					d='M12 6C9.333 6 7.667 7.325 7 9.976c1-1.325 2.167-1.822 3.5-1.49.76.188 1.305.737 1.906 1.344.98.99 2.116 2.134 4.594 2.134 2.667 0 4.333-1.325 5-3.976-1 1.326-2.166 1.822-3.5 1.49-.76-.188-1.305-.737-1.906-1.344C15.614 7.144 14.479 6 12 6zm-5 5.964c-2.667 0-4.333 1.325-5 3.976 1-1.325 2.167-1.822 3.5-1.491.76.189 1.305.738 1.906 1.345.98.99 2.115 2.134 4.594 2.134 2.667 0 4.334-1.325 5-3.976-1 1.325-2.167 1.822-3.5 1.491-.76-.189-1.305-.738-1.906-1.345-.98-.989-2.116-2.134-4.594-2.134z'
					clip-rule='evenodd'
				></path>
			</svg>
			<p class='text-center text-sm tracking-tight text-black dark:text-white'>Tailwind</p>
		</div>

		<div
			class='group flex flex-col items-center justify-center space-y-1 rounded-lg border border-zinc-200 p-4 hover:bg-zinc-200/50 dark:border-zinc-800 dark:hover:bg-zinc-800/50'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				fill='none'
				viewBox='0 0 24 24'
				width='45'
				height='45'>
				<path
					fill='#2563EB'
					d='M3.234 9.093V7.318h8.363v1.775H8.479V17.5H6.352V9.093H3.234zm15.263 1.153c-.04-.4-.21-.712-.512-.934-.301-.222-.71-.333-1.228-.333-.351 0-.648.05-.89.149-.242.096-.427.23-.557.403a.969.969 0 00-.189.586.838.838 0 00.115.477c.086.136.204.254.353.353.149.097.321.181.517.254.195.07.404.13.626.179l.915.219c.444.1.852.232 1.223.397.371.166.693.37.965.612.271.242.482.527.631.855.152.328.23.704.234 1.129-.004.623-.163 1.163-.478 1.62-.311.454-.762.807-1.352 1.06-.587.248-1.294.372-2.123.372-.822 0-1.538-.126-2.147-.378-.607-.252-1.081-.624-1.422-1.118-.338-.497-.516-1.112-.532-1.845h2.083c.023.342.12.627.293.855.176.226.41.397.701.513.295.112.628.168 1 .168.364 0 .68-.053.949-.159.272-.106.482-.253.631-.442.15-.189.224-.406.224-.651a.846.846 0 00-.204-.577c-.132-.156-.328-.288-.586-.398a5.964 5.964 0 00-.94-.298l-1.109-.278c-.858-.21-1.536-.536-2.033-.98-.497-.444-.744-1.042-.74-1.795-.004-.616.16-1.155.491-1.615.335-.461.794-.82 1.377-1.08.584-.258 1.247-.387 1.99-.387.755 0 1.414.13 1.978.388.567.258 1.007.618 1.322 1.079.315.46.477.994.488 1.6h-2.064z'
				></path>
			</svg>
			<p class='text-center text-sm tracking-tight text-black dark:text-white'>Typescript</p>
		</div>

		<div
			class='group flex flex-col items-center justify-center space-y-1 rounded-lg border border-zinc-200 p-4 hover:bg-zinc-200/50 dark:border-zinc-800 dark:hover:bg-zinc-800/50'>
			<svg
				viewBox='0 0 24 24'
				fill='none'
				xmlns='http://www.w3.org/2000/svg'
				width='45'
				height='45'>
				<path
					d='M12 4L21 19.5886H3L12 4Z'
					fill='#64748B'
				></path>
			</svg>
			<p class='text-center text-sm tracking-tight text-black dark:text-white'>Vercel</p>
		</div>

		<div
			class='group flex flex-col items-center justify-center space-y-1 rounded-lg border border-zinc-200 p-4 hover:bg-zinc-200/50 dark:border-zinc-800 dark:hover:bg-zinc-800/50'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				fill='none'
				viewBox='0 0 24 24'
				width='45'
				height='45'>
				<path
					fill='#A5B4FC'
					d='M15.952 9.394l-3.798-2.193a.307.307 0 00-.308 0L8.048 9.394a.308.308 0 00-.154.266v4.386c0 .11.059.212.154.267l3.798 2.193a.308.308 0 00.308 0l3.798-2.193a.307.307 0 00.154-.267V9.66a.307.307 0 00-.154-.266z'
				></path>
				<path
					fill='#4F46E5'
					d='M2.123 11.392l4.54-7.896C6.826 3.211 7.131 3 7.46 3h9.078c.33 0 .634.21.799.496l4.538 7.879a.94.94 0 010 .931l-4.538 7.831c-.165.286-.47.432-.8.432H7.462c-.33 0-.634-.142-.799-.427l-4.538-7.845a.89.89 0 010-.905zm3.759 3.797c0 .116.07.223.17.281l5.782 3.336c.1.058.226.058.327 0l5.785-3.336c.1-.058.171-.165.171-.281V8.518a.333.333 0 00-.17-.282l-5.781-3.335a.329.329 0 00-.327 0L6.053 8.236a.334.334 0 00-.172.282v6.671z'
				></path>
			</svg>
			<p class='text-center text-sm tracking-tight text-black dark:text-white'>Eslint</p>
		</div>

		<div
			class='group flex flex-col items-center justify-center space-y-1 rounded-lg border border-zinc-200 p-4 hover:bg-zinc-200/50 dark:border-zinc-800 dark:hover:bg-zinc-800/50'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				fill='none'
				viewBox='0 0 24 24'
				width='45'
				height='45'>
				<path
					fill='#A855F7'
					fill-rule='evenodd'
					d='M12.498 20.953c2.05-7.377 1.99-7.41 3.472-12.669l.356.207c.194.112.352.02.352-.204V5.78c.393-1.386.701-2.456.79-2.779h1.606l2.667 2.487L19.99 7.01l1.325 1.44-8.73 12.502c-.043.07-.102.055-.089 0h.002z'
					clip-rule='evenodd'
				></path>
				<path
					fill='#A855F7'
					fill-rule='evenodd'
					d='M13.451 5.055c.08 0 .143.043.143.099v1.285c0 .053-.059.098-.138.098H11.3c-.079 0-.145-.044-.145-.1V5.153c0-.054.066-.097.145-.097h2.156-.005zm2.661-1.424L13.74 5.009a.266.266 0 01.044.145v1.285a.253.253 0 01-.072.175l2.393 1.39c.158.096.296.019.296-.17v-4.03c0-.19-.138-.267-.296-.172l.007-.001zm-5.15 2.808V5.154c0-.053.016-.102.043-.145L8.633 3.63c-.163-.094-.297-.017-.297.173v4.028c0 .19.134.263.297.17l2.396-1.39a.28.28 0 01-.068-.178v.005z'
					clip-rule='evenodd'>
				</path>
				<path
					fill='#A855F7'
					fill-rule='evenodd'
					d='M12.154 20.953h.088c-2.05-7.377-1.99-7.41-3.471-12.669l-.356.207c-.194.112-.353.02-.353-.204V5.78C7.667 4.394 7.358 3.323 7.265 3H5.663L3 5.487 4.75 7.01 3.425 8.451l8.728 12.5.001.002z'
					clip-rule='evenodd'
				></path>
				<path
					fill='#A855F7'
					d='M12.305 9.22a.65.65 0 00.647-.651.65.65 0 00-.647-.652.65.65 0 00-.647.652c0 .36.29.65.647.65zM12.305 13.094a.65.65 0 00.647-.651.65.65 0 00-.647-.652.65.65 0 00-.647.652c0 .36.29.651.647.651zM12.305 16.968a.65.65 0 00.647-.65.65.65 0 00-.647-.652.65.65 0 00-.647.651c0 .36.29.651.647.651z'
				></path>
			</svg>
			<p class='text-center text-sm tracking-tight text-black dark:text-white'>Stylelint</p>
		</div>

		<div
			class='group flex flex-col items-center justify-center space-y-1 rounded-lg border border-zinc-200 p-4 hover:bg-zinc-200/50 dark:border-zinc-800 dark:hover:bg-zinc-800/50'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				fill='none'
				viewBox='0 0 25 24'
				width='45'
				height='45'>
				<path
					fill='#FBBF24'
					d='M17.509 8.055l-4.781 7.068a.412.412 0 01-.47.16.41.41 0 01-.208-.161.423.423 0 01-.07-.256l.19-3.902-3.089-.67a.407.407 0 01-.295-.254.425.425 0 01.043-.391l4.782-7.068a.412.412 0 01.47-.16.422.422 0 01.278.416l-.191 3.903 3.089.67a.408.408 0 01.295.254.422.422 0 01-.043.391z'
				></path>
				<path
					fill='#14B8A6'
					d='M12.498 21.6a.957.957 0 00.685-.286L17.7 16.76a.98.98 0 00-.685-1.664.965.965 0 00-.684.284l-3.833 3.864-8.35-8.419a.964.964 0 00-1.364.006.98.98 0 00-.006 1.375l9.036 9.108a.965.965 0 00.684.286z'
				></path>
				<path
					fill='#14B8A6'
					d='M12.502 21.6a.957.957 0 01-.685-.286L7.3 16.76a.98.98 0 01.002-1.378.964.964 0 011.368-.002l3.833 3.864 8.35-8.419a.964.964 0 011.364.006.98.98 0 01.006 1.375l-9.036 9.108a.964.964 0 01-.684.286z'
				></path>
			</svg>
			<p class='text-center text-sm tracking-tight text-black dark:text-white'>Vitest</p>
		</div>

		<div
			class='group flex flex-col items-center justify-center space-y-1 rounded-lg border border-zinc-200 p-4 hover:bg-zinc-200/50 dark:border-zinc-800 dark:hover:bg-zinc-800/50'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				fill='none'
				viewBox='0 0 24 24'
				width='45'
				height='45'>
				<path
					fill='#FAFAFA'
					fill-rule='evenodd'
					d='M3.458 19.122c0 .354.09.735.337.87.91.51 4.096.112 5.179-.13.567-.128 1.027-.55 1.56-.78 1.2-.521 2.07-.942 3.03-1.643.696-.51 1.8-1.947 1.919-2.806l-.949-.213c-.022.965-.24 1.184-1.1 1.409-.577.157-1.705.19-2.294.09-.78-.13-1.133-.54-1.487-1.005-.685-.91.151-1.543-.931-1.605-1.14 1.397-3.148.393-4.03.253-.375.544-1.256 4.079-1.245 4.887.545-.185.887.017 1.375.207 1.728.668.219 1.257-.471 1.083-.472-.112-.618-.42-.893-.617zM5.72 11.06c.701.135 1.324.427 1.919.724.97.482 1.144.415 1.234 1.088.011.124-.011.191.342.303.595.186-.342-.145 1.252-.14.948.006 3.12.387 3.82.83.292.186.236.421 1.224.393-.011-1.161-.32-2.895-.774-3.96-.556-1.291-1.291-1.488-2.79-1.97-.874-.28-3.444-.59-4.241-.096-.746.466-.887 1.021-1.582 1.998-.202.286-.275.505-.404.83z'
					clip-rule='evenodd'
				></path>
				<path
					fill='#FAFAFA'
					fill-rule='evenodd'
					d='M11.898 13.444c.56.23-.029 1.717-.809 1.358-.252-.713.348-1.117.511-1.437-.337-.05-1.296-.202-1.582-.095-.37.14-.455.931-.264 1.302.898 1.762 4.865 1.386 4.444.017-.168-.556-.325-.646-.892-.837-.455-.151-.91-.308-1.408-.308zm-7.054-.197c.45.433 1.465.5 2.121.534.085-.87.158-1.521.853-1.47.343.465.163 1.015-.196 1.369.612-.006.965-.466.875-1.134-.516-.37-2.081-1.11-2.867-1.217-.219.235-.757 1.526-.786 1.918z'
					clip-rule='evenodd'
				></path>
				<path
					fill='#475569'
					fill-rule='evenodd'
					stroke='#475569'
					stroke-linejoin='round'
					stroke-width='0.363'
					d='M3.79 18.802c.37-.033 1.335.247 1.414.561-.6.073-1.364.017-1.414-.56zm-.331.32c.274.197.42.505.892.617.69.174 2.2-.415.471-1.083-.488-.19-.83-.392-1.375-.207-.01-.808.87-4.343 1.246-4.887.88.14 2.89 1.144 4.029-.253 1.083.062.246.696.931 1.605.354.466.707.875 1.487 1.004.59.101 1.717.068 2.295-.09.858-.224 1.077-.443 1.1-1.408l.948.213c-.118.859-1.223 2.295-1.92 2.806-.959.701-1.828 1.122-3.03 1.644-.532.23-.992.65-1.559.78-1.083.241-4.27.64-5.179.129-.247-.135-.336-.516-.336-.87zm7.85-4.646c.039-.37.179-.578.398-.73.151.326-.118.64-.399.73zm.588-1.032c.5 0 .954.157 1.409.308.567.191.724.281.892.836.42 1.37-3.546 1.746-4.444-.016-.19-.37-.107-1.162.264-1.302.286-.107 1.245.045 1.582.095-.163.32-.763.724-.51 1.437.78.359 1.369-1.128.807-1.358zm-4.584.067c.006-.387-.011-.735.343-.886.129.297-.085.718-.343.886zm-2.469-.263c.028-.393.567-1.684.786-1.92.785.107 2.351.848 2.867 1.218.09.668-.264 1.128-.875 1.134.359-.354.539-.904.196-1.37-.696-.05-.768.6-.853 1.47-.656-.033-1.672-.1-2.12-.532zm-.56-.45c-.208-.572-.208-1.464.673-1.537l-.45 1.251c-.117.27-.117.208-.224.287zM5.72 11.06c.129-.325.202-.544.404-.83.695-.977.836-1.532 1.582-1.998.797-.493 3.367-.185 4.242.096 1.498.482 2.233.679 2.788 1.97.455 1.065.764 2.799.775 3.96-.988.029-.932-.207-1.223-.392-.702-.444-2.873-.825-3.821-.83-1.594-.006-.657.325-1.252.14-.353-.113-.33-.18-.342-.304-.09-.673-.264-.605-1.234-1.088-.595-.297-1.218-.59-1.92-.724zm9.931-.275c-.107-.353.09-.33.432-.572.197-.14.354-.286.595-.42.903-.506 2.587-.59 3.305.01.292.242.768.713.695 1.33-.151 1.229-.993 1.902-1.683 2.463-.701.573-1.868 1.162-3.075.77-.1-.248-.022-1.813-.14-2.391-.106-.516-.05-.572.247-.881.875-.91 2.772-1.571 3.85-.791.454.336.325.465.56.723.292-.314-.252-1.369-2.26-1.301-1.364.045-1.954 1.11-2.526 1.06zm-8.17-3.192c.029-.78.747-2.396 1.465-2.957.87-.674 1.779-1.308 3.114-.55.331.185.314.28.348.74.028.444-.011.606-.123.966-.887 2.861-1.628 1.217-4.467 1.896.107-.931.915-1.762 1.364-2.194.768-.746 1.324-1.229 2.48-1.072.32.533.353.87-.034 1.493-.516.83-.645.78-.567 1.347.404-.101.528-.494.713-.887 1.128-2.357-.51-2.643-1.515-2.21-.673.285-1.874 1.61-2.267 2.406-.078.158-.163.36-.235.533l-.275.489zm4.444.117c.118-.7.814-.875.814-3.035 0-.931-1.145-1.768-2.643-1.145-1.285.528-1.481.932-2.166 1.964-.645.976-.622 2.048-1.178 2.951-.163.259-.308.348-.488.606-.13.191-.224.433-.353.657-.264.432-.534.746-.747 1.262-.673.017-1.24.029-1.307.724-.09.954.359 1.19.359 1.549-.006.387-1.577 4.292-1.139 6.62.123.64.544.646 1.218.725 1.621.196 3.725.129 5.178-.455l2.638-1.262c.667-.376 1.79-1.089 2.289-1.61.353-.365.538-.674.841-1.106.416-.606.427-.595.517-1.42.55.101 1.576.343 1.919.64-.04.387-.23.202-.23.55.219.006.583-.27.673-.572-.23-.337-.471-.281-.802-.55.263-.208.74-.303 1.105-.455.786-.325 2.127-1.313 2.458-2.21.263-.724.067-1.93-.36-2.402-.448-.494-1.492-.746-2.345-.746-1.015 0-2.065.73-2.884 1.043-.314-.275-.337-.589-.567-.892-.263-.359-1.98-1.257-2.8-1.43z'
					clip-rule='evenodd'
				></path>
				<path
					fill='#BFDBFE'
					fill-rule='evenodd'
					d='M7.313 13.511c.258-.168.472-.589.343-.886-.354.151-.337.499-.343.886zm3.995.965c.28-.09.55-.404.399-.73-.22.152-.36.36-.399.73z'
					clip-rule='evenodd'
				></path>
				<path
					fill='#FECACA'
					fill-rule='evenodd'
					d='M15.651 10.784c.572.05 1.162-1.015 2.525-1.06 2.009-.068 2.553.987 2.261 1.301-.236-.258-.107-.387-.56-.723-1.078-.78-2.975-.118-3.85.79-.297.31-.354.365-.247.882.118.578.04 2.143.14 2.39 1.207.393 2.374-.196 3.075-.769.69-.56 1.532-1.234 1.683-2.463.073-.617-.404-1.088-.695-1.33-.718-.6-2.402-.516-3.305-.01-.242.134-.399.28-.595.42-.342.241-.539.219-.432.572zM7.481 7.592l.275-.489c.073-.173.157-.375.236-.533.393-.796 1.594-2.12 2.267-2.407 1.004-.432 2.643-.146 1.515 2.211-.185.393-.309.786-.713.887-.078-.567.05-.517.567-1.347.387-.623.353-.96.034-1.493-1.156-.157-1.712.326-2.48 1.072-.45.432-1.257 1.263-1.364 2.194 2.84-.679 3.58.965 4.466-1.896.113-.36.152-.522.124-.966-.034-.46-.017-.555-.348-.74-1.335-.758-2.244-.124-3.114.55-.718.56-1.436 2.177-1.465 2.957zM5.204 19.363c-.079-.314-1.044-.594-1.414-.56.05.577.813.633 1.414.56z'
					clip-rule='evenodd'
				></path>
			</svg>
			<p class='text-center text-sm tracking-tight text-black dark:text-white'>Editorconfig</p>
		</div>

		<div
			class='group flex flex-col items-center justify-center space-y-1 rounded-lg border border-zinc-200 p-4 hover:bg-zinc-200/50 dark:border-zinc-800 dark:hover:bg-zinc-800/50'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				viewBox='0 0 24 24'
				fill='none'
				width='45'
				height='45'>
				<path
					fill='#A78BFA'
					d='m12.87 15.07-2.54-2.51.03-.03A17.52 17.52 0 0 0 14.07 6H17V4h-7V2H8v2H1v2h11.17C11.5 7.92 10.44 9.75 9 11.35 8.07 10.32 7.3 9.19 6.69 8h-2c.73 1.63 1.73 3.17 2.98 4.56l-5.09 5.02L4 19l5-5 3.11 3.11.76-2.04ZM18.5 10h-2L12 22h2l1.12-3h4.75L21 22h2l-4.5-12Zm-2.62 7 1.62-4.33L19.12 17h-3.24Z'
				></path>
			</svg>
			<p class='text-center text-sm tracking-tight text-black dark:text-white'>i18n</p>
		</div>

		<div
			class='group flex flex-col items-center justify-center space-y-1 rounded-lg border border-zinc-200 p-4 hover:bg-zinc-200/50 dark:border-zinc-800 dark:hover:bg-zinc-800/50'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				fill='none'
				viewBox='0 0 24 24'
				width='45'
				height='45'
				><path
					fill='#F87171'
					d='M9.571 20.143H4.43a.429.429 0 000 .857H9.57a.429.429 0 000-.857z'
				></path>
				<path
					fill='#FBBF24'
					d='M9.571 18.429H7.857a.429.429 0 000 .857h1.714a.429.429 0 100-.857z'
				></path>
				<path
					fill='#2DD4BF'
					d='M6.143 18.429H4.429a.429.429 0 000 .857h1.714a.429.429 0 100-.857z'
				></path>
				<path
					fill='#C084FC'
					d='M9.571 16.714H4.43a.429.429 0 000 .857H9.57a.429.429 0 000-.857z'
				></path>
				<path
					fill='#FBBF24'
					d='M14.714 15H7a.429.429 0 000 .857h7.714a.429.429 0 100-.857z'
				></path>
				<path
					fill='#C084FC'
					d='M5.286 15h-.857a.429.429 0 000 .857h.857a.429.429 0 100-.857zM17.286 13.286h-2.572a.429.429 0 100 .857h2.572a.429.429 0 000-.857z'
				></path>
				<path
					fill='#F87171'
					d='M13 13.286H9.571a.429.429 0 100 .857H13a.429.429 0 000-.857z'
				></path>
				<path
					fill='#2DD4BF'
					d='M7.857 13.286H4.43a.429.429 0 100 .857h3.428a.429.429 0 000-.857zM18.143 11.571h-6.857a.429.429 0 000 .858h6.857a.429.429 0 000-.858z'
				></path>
				<path
					fill='#FBBF24'
					d='M9.571 11.571H7a.429.429 0 000 .858h2.571a.429.429 0 000-.858z'
				></path>
				<path
					fill='#F87171'
					d='M5.286 11.571h-.857a.429.429 0 000 .858h.857a.429.429 0 000-.858z'
				></path>
				<path
					fill='#FBBF24'
					d='M19 9.857h-4.286a.429.429 0 000 .857H19a.429.429 0 000-.857z'
				></path>
				<path
					fill='#C084FC'
					d='M7.857 9.857H4.43a.429.429 0 000 .857h3.428a.429.429 0 000-.857z'
				></path>
				<path
					fill='#F87171'
					d='M19 8.143h-4.286a.429.429 0 100 .857H19a.429.429 0 100-.857z'
				></path>
				<path
					fill='#FBBF24'
					d='M7.857 8.143H4.43a.429.429 0 000 .857h3.428a.429.429 0 100-.857z'
				></path>
				<path
					fill='#2DD4BF'
					d='M18.143 6.429h-.857a.429.429 0 100 .857h.857a.429.429 0 000-.857z'
				></path>
				<path
					fill='#C084FC'
					d='M15.571 6.429h-3.428a.429.429 0 100 .857h3.428a.429.429 0 100-.857z'
				></path>
				<path
					fill='#2DD4BF'
					d='M10.429 6.429h-6a.429.429 0 000 .857h6a.429.429 0 000-.857z'
				></path>
				<path
					fill='#FBBF24'
					d='M17.286 4.714H8.714a.429.429 0 100 .857h8.572a.429.429 0 100-.857z'
				></path>
				<path
					fill='#F87171'
					d='M7 4.714H4.429a.429.429 0 100 .857H7a.429.429 0 000-.857z'
				></path>
				<path
					fill='#2DD4BF'
					d='M14.714 3H4.43a.429.429 0 000 .857h10.285a.429.429 0 100-.857z'
				></path>
			</svg>
			<p class='text-center text-sm tracking-tight text-black dark:text-white'>Prettier</p>
		</div>

		<div
			class='group flex flex-col items-center justify-center space-y-1 rounded-lg border border-zinc-200 p-4 hover:bg-zinc-200/50 dark:border-zinc-800 dark:hover:bg-zinc-800/50'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				fill='none'
				viewBox='0 0 24 24'
				width='45'
				height='45'>
				<mask
					id='mask0_20590_698'
					width='16'
					height='18'
					x='4'
					y='3'
					maskUnits='userSpaceOnUse'
					style='mask-type: alpha;'>
					<path
						fill='#F472B6'
						d='M5.335 19.586L4.777 4.73a.905.905 0 01.848-.937l12.637-.79a.905.905 0 01.962.903v16.19a.905.905 0 01-.946.904l-12.08-.543a.905.905 0 01-.864-.87z'
					></path>
				</mask>
				<g mask='url(#mask0_20590_698)'>
					<path
						fill='#F472B6'
						fill-rule='evenodd'
						d='M4.777 4.729l.558 14.857c.017.471.393.85.863.87l12.08.543.04.001c.5 0 .906-.405.906-.905V3.905c0-.019 0-.038-.002-.056a.905.905 0 00-.96-.847l-.993.062.072 2.077a.135.135 0 01-.218.11l-.67-.526-.792.6a.135.135 0 01-.216-.113l.084-2.04-9.904.62a.905.905 0 00-.848.937zm8.448 5.055c0 .352 2.372.184 2.69-.064 0-2.397-1.286-3.657-3.642-3.657s-3.676 1.28-3.676 3.199c0 1.922 1.492 2.76 2.76 3.472.937.526 1.751.983 1.751 1.758 0 .512-.25.816-.802.816-.718 0-1.002-.367-.969-1.615 0-.27-2.74-.355-2.824 0-.212 3.023 1.671 3.895 3.826 3.895 2.09 0 3.726-1.113 3.726-3.128 0-2.103-1.576-2.938-2.88-3.629-.916-.486-1.698-.9-1.698-1.633 0-.72.535-.816.852-.816.335 0 .936.059.886 1.402z'
						clip-rule='evenodd'
					></path>
				</g>
			</svg>
			<p class='text-center text-sm tracking-tight text-black dark:text-white'>Storybook</p>
		</div>
	</div>
</section>
