---
import '@/styles/global.css'
import { ClientRouter } from 'astro:transitions'
import Analytics from '@vercel/analytics/astro'
import Favicon from '@/components/Favicon.astro'
import SEO from '@/components/SEO.astro'

interface Props {
	title: string
	description: string
	domain?: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<Favicon />
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<title>{title}</title>

		<link
			rel='preconnect'
			href='https://rsms.me/'
		/>
		<link
			rel='stylesheet'
			href='https://rsms.me/inter/inter.css'
		/>

		<SEO
			url='https://amazing.app/'
			title={title}
			description={description}
			image={{ url: 'https://amazing.app/og/image.png', alt: 'Amazing App Image' }}
			twitter={{ site: { username: '@amazingapp' } }}
			opengraph={{ type: 'website', locale: 'en', site: { name: 'Amazing App' } }}
		/>
		<ClientRouter />
	</head>

	<body class='bg-gray-900'>
		<slot />
		<Analytics />
	</body>
</html>
